In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(
    "../res/data/DLRprovided/1 Land Prices/Land_Prices_Neighborhood_Berlin.csv", sep=";"
)

In [5]:
df.head()

,Unnamed: 0,Neighborhood_FID,Land_Value,Area_Types,Area_Count,City_Name
0,0,1,9238.7,MixedUseArea_Residential_SpecialUseArea,37,Berlin
1,1,2,3658.7,CommercialBuildingArea_MixedUseArea_Residentia...,20,Berlin
2,2,3,2452.0,Residential,3,Berlin
3,3,4,7877.8,MixedUseArea_Residential_SpecialUseArea,15,Berlin
4,4,5,1726.8,CommercialBuildingArea_MixedUseArea_Residentia...,14,Berlin

In [8]:
df.Area_Types.apply(lambda s: s.split("_"))

0           [MixedUseArea, Residential, SpecialUseArea]
1     [CommercialBuildingArea, MixedUseArea, Residen...
2                                         [Residential]
3           [MixedUseArea, Residential, SpecialUseArea]
4     [CommercialBuildingArea, MixedUseArea, Residen...
                            ...
91                [CommercialBuildingArea, Residential]
92                        [Residential, SpecialUseArea]
93                [CommercialBuildingArea, Residential]
94                [CommercialBuildingArea, Residential]
95                                        [Residential]
Name: Area_Types, Length: 96, dtype: object

In [7]:
df.Area_Types.nunique()

9

In [6]:
df.Area_Types.unique()

array(['MixedUseArea_Residential_SpecialUseArea',
       'CommercialBuildingArea_MixedUseArea_Residential_SpecialUseArea',
       'Residential', 'CommercialBuildingArea_MixedUseArea_Residential',
       'CommercialBuildingArea_Residential',
       'CommercialBuildingArea_Residential_SpecialUseArea',
       'Residential_SpecialUseArea', 'MixedUseArea',
       'MixedUseArea_Residential'], dtype=object)