In [63]:
import numpy as np
import pandas as pd
import geopandas as gpd
from combine_csv import combine_csv
from streamlit_folium import st_folium

In [24]:
df = combine_csv("D:\\GitHub\\Geo-paw-sitioning\\1 Land Prices\\")

In [58]:
df_koeln = df.loc[df["City_Name"] == "Köln"]
df_koeln = df_koeln.drop(columns=['Land_Value', 'Area_Count', 'City_Name'])
#df_koeln.head()
#df_koeln.shape[0]
df_koeln.columns

Index(['Neighborhood_FID', 'AgriculturalArea', 'CommercialBuildingArea',
       'Farmland', 'ForestryArea', 'GreenArea', 'IndustrialArea',
       'MixedUseArea', 'OtherSpecialArea', 'Residential', 'SpecialUseArea',
       'Village'],
      dtype='object')

In [59]:
gdf_koeln = gpd.read_file("D:\\GitHub\\Geo-paw-sitioning\\1 Land Prices\\Land_Prices_Neighborhood_Köln.gpkg")
gdf_koeln = gdf_koeln.drop(columns = ['Area_Types'])
#gdf_koeln.head()
#gdf_koeln.shape[0]
gdf_koeln.columns

Index(['Neighborhood_FID', 'Land_Value', 'Area_Count', 'City_Name',
       'geometry'],
      dtype='object')

In [61]:
#df_koeln.join(gdf_koeln.set_index('Neighborhood_FID'), on='Neighborhood_FID')
df_koeln = gdf_koeln.merge(df_koeln, on='Neighborhood_FID')
#df_koeln = pd.concat([df_koeln, gdf_koeln], axis=0, join="inner")
df_koeln.head()

,Neighborhood_FID,Land_Value,Area_Count,City_Name,geometry,AgriculturalArea,CommercialBuildingArea,Farmland,ForestryArea,GreenArea,IndustrialArea,MixedUseArea,OtherSpecialArea,Residential,SpecialUseArea,Village
0,1,788.8,25,Köln,"MULTIPOLYGON (((4113844.607 3091245.039, 41138...",0,0,1,0,1,0,0,0,1,1,0
1,2,874.9,32,Köln,"MULTIPOLYGON (((4100028.083 3096909.048, 41000...",0,0,1,1,1,0,1,1,1,1,0
2,3,468.4,18,Köln,"MULTIPOLYGON (((4099966.963 3100961.966, 40999...",0,0,1,1,1,0,1,0,1,1,0
3,4,286.0,25,Köln,"MULTIPOLYGON (((4111198.584 3102570.697, 41112...",1,0,1,0,1,0,0,0,1,1,0
4,5,652.8,20,Köln,"MULTIPOLYGON (((4112305.385 3102700.016, 41123...",0,0,1,1,0,0,0,0,1,1,0